<div class="status-main">
    <div class="first">
        <div class="header">
            <h5>Total orders</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ total_customers }}</h3>
        </div>
    </div>
    <div class="first">
        <div class="header">
            <h5 class="card-title">Orders Deliverd</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ delivered }}</h3>
        </div>
    </div>
    <div class="first">
        <div class="header">
            <h5 class="card-title">Orders Pending</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ pending }}</h3>
        </div>
    </div>
</div>